<kendo-dialog *ngIf="active" (close)="closeForm()" [width]="450">
    <kendo-dialog-titlebar style="background-color : white;border-radius: 30px 30px 0 0">
      <span>
        <b style="color : black;font-size: 14px;font-family: Open Sans;">
            Confirm Delete
        </b>
      </span>
    </kendo-dialog-titlebar>
    
    
    <form name="form" [formGroup]="dqDeleteForm" novalidate>
      <div class="container" style="background-color: white;">
        <div *ngIf="opened" style="color : #f31700;font-size:12px;font-family: Open Sans;">{{errorMsg}}</div>
        Are you sure you want to delete?
      </div>
    </form>
  
   <button kendoButton (click)="onCancel($event)" style="color : white;background-color : rgb(7, 73, 130);border-color: white;font-family: Open Sans Regular;font-size: 12px;width: 70px;border-radius: 6px;margin-top: 10px;">Cancel</button> &nbsp;
   <button kendoButton primary=[true] (click)="onDelete($event)" style="color : white;background-color :  rgb(7, 73, 130);border-color: white;font-family: Open Sans Regular;font-size: 12px;border-radius: 6px;margin-right: -130px;width: 70px;margin-top: 10px;">Ok</button>
  </kendo-dialog>