img {
    height: 25px;
    width: 25px;
    margin-top: -5px;
}

.dropdown-menu > li {
    font-size: 12px;
    font-family: Open Sans;
    font-weight: bold; 
}


.dropdown-menu > li > a {
    font-size: 12px;
    font-family: Open Sans;
}